.contentHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentHeading__controls {
  display: flex;
  justify-content: flex-end;
}

.contentHeading__title {
  display: flex;
  overflow: hidden;
}

.contentHeading__text {
  word-break: break-all;
}

@media screen and (max-width: 800px) {
  .contentHeading__title {
    display: block;
  }
}
