.container {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: var(--common-border-radius);
  overflow: hidden;
  transition: all 150ms ease-out;
}

.container:hover {
  width: 78px;
  height: 78px;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
  transition: filter 150ms ease-out;
}

.container:hover .thumbnail {
  filter: brightness(1);
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-11px, -10px);
  transition: all 150ms ease-out;
}

.container:hover .icon {
  visibility: hidden;
  opacity: 0;
}
