.form {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.field {
  margin-bottom: 4px;
  display: flex;
  align-items: flex-start;
  height: 54px;
}

.field:last-child {
  margin-bottom: 0;
}

.label {
  align-self: center;
  flex-basis: 150px;
  height: 40px;
}

.inputText {
  flex-grow: 1;
}

.counter {
  align-self: center;
  height: 40px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.submitContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  margin-left: 16px;
  flex-basis: 120px;
}

.submitError {
  flex-basis: 316px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: var(--colors-interface-red);
}
