.columnsTemplate {
  grid-template-columns: 120px auto 78px;
}

.rows {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.row {
  grid-template-rows: 80px;
  padding-right: 0;
}

.taskTitle::first-letter {
  text-transform: capitalize;
}
