.container {
  display: flex;
}

.button {
  width: 112px;
}

.button_type_approve {
  margin-right: 10px;
}

@media screen and (max-width: 450px) {
  .container {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
