.participants__notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 472px);
}

.row {
  padding: 0 12px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-items: start;
  column-gap: 20px;
  grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr;
}
