.headingContainer {
  margin-bottom: 10px;
}

.heading {
  min-height: 58px;
}

.shiftTable {
  margin-top: 20px;
  margin-bottom: 10px;
}

.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.participantsContainer {
  margin-top: 10px;
  margin-bottom: 20px;
  min-height: calc(100vh - 382px);
}

.participantsTable {
  grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr;
}

.participants__notice {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 472px);
}
