.row {
  padding-right: 0;
}

.shiftsNumber {
  display: flex;
  align-items: center;
}

.shiftCurrent {
  padding: 5.5px 8px;
  margin: 0 0 0 10px;
  background-color: var(--colors-interface-gray-light);
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: var(--colors-interface-gray);
  min-width: 86px;
  border-radius: 10px;
}
