.rows {
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.columns {
  grid-template-columns: 1.3fr 0.8fr 0.6fr 0.6fr 1.12fr;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
}

.row {
  padding-right: 0;
}
