.loader {
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert {
  height: calc(100% - 40px);
}

.container {
  height: calc(100vh - 140px);
}

.heading {
  min-height: 60px;
}

.table {
  margin-top: 20px;
  min-height: 102px;
  max-height: calc(100vh - 218px);
}
